/* Remove margins and padding from the list */
.ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  .li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
  
    
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  .li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  .li:hover {
    background: #fff;
  }